<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biosol India</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Images/BioSol_India_Logo.JPG" class="img-fluid img-thumbnail" height="50" width="50" alt="BIOSOL INDIA" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active text-white" >
                    <a class="nav-link" href="/Home/Index">Biosol India <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Home/Products" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Home/Products/#GUTBALANCE">GUTBALANCE</a>
                        <a class="dropdown-item" href="/Home/Products/#BIONUTRIZYME">BIONUTRIZYME</a>
                        <a class="dropdown-item" href="/Home/Products/#BIOSANTRA">BIOSANTRA-AQUA</a>
                        <a class="dropdown-item" href="/Home/Products/#ZEONEXT">ZEONEXT</a>
                        <a class="dropdown-item" href="/Home/Products/#PROBIND">PROBIND GEL</a>
                        <a class="dropdown-item" href="/Home/Products/#BIOPROBAC">BIOPROBAC</a>
                        <a class="dropdown-item" href="/Home/Products/#BIOMIN">BIOMIN PLUS</a>
                        <a class="dropdown-item" href="/Home/Products/#BIODSTRESS">BIODSTRESS</a>
                        <a class="dropdown-item" href="/Home/Products/#BIOO2PLUS">BIO O2 PLUS</a>
                        <a class="dropdown-item" href="/Home/Products/#BIOKILLON">BIOKILLON</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="body-content mb-3 mt-5">
        @RenderBody()
      </div>
    <footer>
        <div style="text-align: center;color:black;margin-top: 10px;">
          BIOSOL INDIA &copy; @DateTime.Now.Year - @DateTime.Now.AddYears(5).Year All Content Right Reserved.   || Design By : <a href="http://www.codelovertechnology.com" style="text-align: center;color:black;">CodeLover Technology</a>
        </div>
        
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
